<div class="Leave">
    <div class="LeaveInput">

        <nz-card  class="LeaveInput" style="padding: 30px;">
            <p style="font-size:25px; text-align:center" >Apply for Leave</p>
            
            <p class="LeaveAttribute" >Enter Start and End date : </p>
            <nz-range-picker [nzSize]="size"></nz-range-picker>

            <p class="LeaveAttribute">Enter Start Time :</p>
            <nz-time-picker
            [(ngModel)]="time"
            [nzUse12Hours]="true"
            (ngModelChange)="log($event)"
            nzFormat="h:mm a"
          ></nz-time-picker>

          <p class="LeaveAttribute">Enter End Time :</p>
            <nz-time-picker
            [(ngModel)]="time"
            [nzUse12Hours]="true"
            (ngModelChange)="log($event)"
            nzFormat="h:mm a"
          ></nz-time-picker>

          <p class="LeaveAttribute">Enter Leave Type :</p>
         
          <input nz-input placeholder="Enter the Leave Type"  list="LeaveTypes" class="LeaveAttributeInput" /> 
          <datalist id="LeaveTypes">
              <option value="Full Day Leave"></option>
              <option value="Partial Day Leave"></option>
            </datalist> 
            
            <p class="LeaveAttribute">Enter Leave Reason :</p>
            <input nz-input placeholder="Enter the Leave Reason"  class="LeaveAttributeInput" /> 

            <button class="AddPatient" 
            nz-button nzType="primary" style="width:100%; height:40px; margin-top: 20px;;">Apply Leave</button>

        </nz-card>
    </div>

    <div class="LeaveTable">
        <nz-table #basicTable [nzData]="listOfData"  >
            <thead>
                <tr>
                    <th>Leave ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Leave Type</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                @for (data of basicTable.data; track data) {
            <tr>
              <td>{{ data.AppointmentID }}</td>
              <td>{{ data.DoctorName }}</td>
              <td>{{ data.PatientName }}</td>
              <td>{{data.AppointmentDate | date:'fullDate'}}</td>
              <td>{{data.AppointmentTime | date:'shortTime'}}</td>
              <td>{{data.AppointmentStatus}}</td>
              <td>
                  <!-- <a>Action 一 {{  }}</a> 
                  <nz-divider nzType="vertical"></nz-divider> -->
                <a>Cancel Leave</a>
            </td>
        </tr>
    }
    </tbody>
    </nz-table>



        
    </div>
</div>