.Leave {
    margin: 40px;
    display: flex;
    justify-content: space-around;
  }
  
  .LeaveInput {
    width: 25vw;
  }
  
  .LeaveTable {
    width: 60vw;
  }
  
  .LeaveAttribute {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 300;
  }
  
  nz-range-picker, nz-time-picker {
    width: 100%;
  }
  