

<!-- <div class="example-input "> -->
<div class="PatientInput">
    <nz-card class="AddPatientCard" >
        <div class="PatientTitle">Add a new patient</div>
        
        
        <input nz-input placeholder="Enter the patient name..." nzSize="large" style="width:400px; height:40px; margin-top:40px;"/>
        <input nz-input placeholder="Enter gender..." nzSize="large"  style="width:400px; height:40px; margin-top: 20px;" />
        <nz-date-picker class="DatePicker">Select Date of Birth</nz-date-picker>
        <input type="number" nz-input placeholder="Enter the phone number..." nzSize="large"  style="width:400px; height:40px; margin-top: 20px;" />
        <input  type="email" nz-input placeholder="Enter the E-Mail..." nzSize="large"  style="width:400px; height:40px; margin-top: 20px;" />
        <button class="AddPatient"  nz-button nzType="primary">Add Patient</button>
        
    </nz-card>
</div>

<!-- </div> -->
<!-- [nzRenderExtraFooter]="footerRender" [(ngModel)]="selectedDate"  -->
<!-- (click)="createBasicNotification()"  -->