

<!-- <div class="example-input "> -->
<div class="PatientInput">
    <nz-card class="AddPatientCard" >
        <div class="PatientTitle">Add a new patient</div>

        <input nz-input placeholder="Enter the patient name..." nzSize="large" [(ngModel)]="Name" style="width:400px; height:40px; margin-top:20px;"/>

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Gender" nzSize="large"  [(ngModel)]=selectedGender style="width:400px; height:40px; margin-top:20px;">
            <nz-option nzLabel="Male" nzValue=0></nz-option>
            <nz-option nzLabel="Female" nzValue=1></nz-option>
            <nz-option nzLabel="Others" nzValue=2></nz-option>
          </nz-select>

        <nz-date-picker class="DatePicker" [(ngModel)]="DOB">Select Date of Birth</nz-date-picker>
        <input type="text" nz-input placeholder="Enter the phone number..." nzSize="large" [(ngModel)]="ContactNumber" style="width:400px; height:40px; margin-top: 20px;" />
        <input  type="email" nz-input placeholder="Enter the E-Mail..." nzSize="large" [(ngModel)]="Email" style="width:400px; height:40px; margin-top: 20px;" />
        <button class="AddPatient" (click)="addPatient()"  nz-button nzType="primary">Add Patient</button>
        
    </nz-card>
</div>

<!-- </div> -->
<!-- [nzRenderExtraFooter]="footerRender" [(ngModel)]="selectedDate"  -->
<!-- (click)="createBasicNotification()"  -->