
.ant-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PatientInput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:80vh;
} 
.PatientTitle{
    font-size:30px;
    text-align: center;
 }


 nz-date-picker{
    width: 400px;
    height:40px;
    margin:20px 8px 8px 0;
 }

 .AddPatient{
    width: 400px;
    margin: 30px 8px 8px 00;
    height: 40px;
 }

 .AddPatientCard{
    width:30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
 }