<!-- <app-modal
  [title]="'First Modal'"
  [width]="'600px'"
  [modalClass]="'test-modal'"
  [(isVisible)]="isModalVisible"
  (isVisibleChange)="onIsVisibleChange('isModalVisible',$event)"
>
<p>Your custom content goes here.</p>
</app-modal>


<app-modal
  [title]="'Appointment booked successfully'"
  [width]="'600px'"
  [modalClass]="'new-modal'"
  [(isVisible)]="isModalTestVisible"
  (isVisibleChange)="onIsVisibleChange('isModalTestVisible',$event)">
  <p>Your appointment ID is ...</p>
</app-modal> -->
<!-- 
<button nz-button nzType="primary" (click)="openModal('isModalTestVisible')">Second Modal</button> <br/><br/> 

<button nz-button nzType="primary" (click)="openModal('isModalVisible')">First Modal</button> -->
<!-- <app-book-appointment></app-book-appointment> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-table 
  [headers]="tableHeaders" 
  [data]="listOfData"
  [tableDimension]="{x: '1200px', y: '350px'}">
</app-table> <br/><br/> 

<app-table 
  [headers]="secondTableHeaders" 
  [data]="testData"
  [tableDimension]="{x: '1200px', y: '350px'}">
</app-table> -->

<!-- <nz-table #basicTable [nzData]="listOfData"  >
  <thead>
    <tr>
      <th>Appointment ID</th>
      <th>Doctor Name</th>
      <th>Patient Name</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Status</th>
      <th>Cancel Appointment</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
      <tr>
        <td>{{ data.AppointmentID }}</td>
        <td>{{ data.DoctorName }}</td>
        <td>{{ data.PatientName }}</td>
        <td>{{data.AppointmentDate | date:'fullDate'}}</td>
        <td>{{data.AppointmentTime | date:'shortTime'}}</td>
        <td>{{data.AppointmentStatus}}</td>
        <td>
          <a>Action 一 {{  }}</a> -->
          <!-- <nz-divider nzType="vertical"></nz-divider> -->
          <!-- <a>Cancel Appointment</a>
        </td>
      </tr>
    }
  </tbody>
</nz-table> --> 


<!-- <app-login></app-login> -->
<!-- <app-kendo></app-kendo> -->