

<div class="Table">

    <nz-table #basicTable [nzData]="listOfData"  >
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Doctor Name</th>
                <!-- <th>Patient Name</th> -->
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Status</th>
                <th>Cancel Appointment</th>
            </tr>
        </thead>
        <tbody>
            
        <tr *ngFor="let Appointment of AppointmentHistory">
          <td>{{ Appointment.appointmentId }}</td>
          <td>{{ Appointment.doctorName }}</td>
          <!-- <td>{{ Appointment.patientId }}</td> -->
          <td>{{ Appointment.appointmentDate | date:'fullDate'}}</td>
          <td>{{ Appointment.appointmentTime }}</td>
          <td>{{ Appointment.status==0?"Scheduled":  Appointment.status==1?"Completed":"Canceled"}}</td>
          <td>
              <!-- <a>Action 一 {{  }}</a> 
              <nz-divider nzType="vertical"></nz-divider> -->
            <button nz-button nzType="text" (click)="CancelAppointment(Appointment)" [disabled]="Appointment.status!=0">Cancel Appointment</button>
        </td>
    </tr>

</tbody>
</nz-table>
</div>