<div class="Appointment">

    <div class="DetailsInput">
        <nz-card class="DetailsInput">

            <div style="font-size:25px; text-align:center; margin-top: 20px;">Book Appointment </div>

            <!-- 
          <div style="margin-left: 30px; margin-left:30px;">
                <div style=" font-size: 20px; margin-top: 20px;">Enter Patient phone number : </div>

                <input id="Dummy" nz-input style="margin: 10px 0px 10px 0px; width:26vw; height: 40px;  "
                    (blur)="GetPatientDetails()" [(ngModel)]="PatientPhoneNumber"
                    placeholder="Enter patient phone number...">


            </div>
            <div style="margin-left: 30px; margin-left:30px;">
                <div style=" font-size: 20px;">Select Patient :</div>

                <datalist id="PatientListOptions">
                    <option *ngFor="let patient of PatientDetails" [value]="patient.name"></option>
                </datalist>

                <input nz-input style="margin: 10px 0px 10px 0px; width:26vw; height: 40px;"
                    list="PatientListOptions" [(ngModel)]="PatientName" placeholder="Select patient...">

            </div> -->




            <div style="margin-left: 30px; margin-left:30px;">
                <div style=" font-size: 20px; margin-top: 20px;">Select Doctor : </div>



                <input  nz-input style="margin: 10px 0px 10px 0px; width:26vw; height: 40px;  "
                     [(ngModel)]="DoctorName" list="doctors"
                    placeholder="Select doctor...">

                
                <datalist id="doctors">
                    <option *ngFor="let doctor of DoctorDetails" [value]="doctor.name"></option>
                </datalist>

            </div>


            <div style="margin-left: 30px; margin-left:30px; ">
                <div style=" font-size: 20px;">Select appointment date</div>
                <nz-date-picker
                 [nzRenderExtraFooter]="footerRender" 
                 [(ngModel)]="selectedDate" class="DatePicker"
                (nzOnChange)="GetSlots()"
                [nzDisabledDate]="DisabledDate"
                ></nz-date-picker>
                <button nz-button type="submit" [disabled]="!this.DoctorName|| !this.selectedDate" (click)="GetSlots()"
                    style="margin-top: 10px;">Get Slots</button>
            </div>


            <div style="margin-left: 30px; margin-left:30px;">
                <div style=" font-size: 20px;">Select Slot :</div>

                <datalist id="Slots">
                    <option *ngFor="let slot of this.Slots" [value]="slot.slotId+' - '+slot.startTime"></option>
                </datalist>

                <input nz-input style="margin: 10px 0px 10px 0px; width:26vw; height: 40px;" list="Slots"
                    [(ngModel)]="SelectedSlotId" placeholder="Select slot...">

            </div>

            <!-- *ngIf="SelectedDoctor && selectedDate && PatientName && SelectedSlot" -->
            <div style="font-size: 20px; margin-left:30px; margin-top:20px;">Appointment Details


                <div style="margin-left: 30px; font-size: 15px;">
                    Patient Name : {{_CommonService.SelectedPatient.name}}
                </div>

                <div style="margin-left: 30px; font-size: 15px;">
                    Selected Doctor : {{DoctorName}}
                </div>

                <div style="margin-left: 30px; font-size: 15px;">
                    Selected Date : {{selectedDate | date:'fullDate'}}
                </div>

                <div style="margin-left: 30px; font-size: 15px;">
                    Selected Slot : {{SelectedSlotId}}
                </div>


                <button nz-button nzType="primary"
                    [disabled]="!DoctorName || !selectedDate || !SelectedSlotId"
                    (click)="BookAppointment('isModalTestVisible')" class="BookAppointment">Book
                    Appointment
                </button> <br /><br />



            </div>
        </nz-card>

    </div>




    <div class="DetailsCard">

        <div style=" font-size:30px;  ">Doctors</div>

        <!-- <div class="DoctorBlock" style="display:flex; flex-wrap:wrap;  flex-direction:row; ">


            <div *ngIf="!PatientPhoneNumber ">Enter the Patient Phone Number to view available doctors... </div>
            <div *ngFor="let doctor of DoctorDetails" (click)="SelectedDoctor(doctor)"
            [ngClass]="{'selected-doctor': doctor.name === DoctorName}"
                style="padding:0px;  margin:10px; border-radius:5px; width: 104px; cursor: pointer;">

                <img src="https://th.bing.com/th?id=OIP.zEnScPNkyUIkfdkPJejXiAHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&cb=13&pid=3.1&rm=2"
                    width="100px" height="100px" class="card-img-top" alt="Doctor Image" />

                <div class="card-body">
                    <h4 style="font-size: 15px; margin:0px">{{doctor.name}}</h4>
                     <p class="card-text">{{doctor.DoctorSpecialization}} </p> -->
        <!-- </div>

            </div>

        </div> -->


        <div class="DoctorBlock" style="display:flex; flex-wrap:wrap; flex-direction:row;">
            <!-- <div *ngIf="!PatientPhoneNumber">
                Enter the Patient Phone Number to view available doctors...
            </div> -->
            <div *ngFor="let doctor of DoctorDetails" (click)="SelectedDoctor(doctor)"
                [ngClass]="{'selected-doctor': doctor.name === DoctorName}" class="doctor-card"
                style="padding:0px; margin:10px; border-radius:5px; width: 104px; position: relative; cursor: pointer;">
                <img src="https://th.bing.com/th?id=OIP.zEnScPNkyUIkfdkPJejXiAHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&cb=13&pid=3.1&rm=2"
                    width="100px" height="100px" class="card-img-top" alt="Doctor Image" />
                <div class="card-body">
                    <h4 style="font-size: 15px; margin:0px">{{doctor.name}}</h4>
                </div>
                <!-- Tick Mark -->
                <div *ngIf="doctor.name === DoctorName" class="tick-mark">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z" fill="currentColor" />
                    </svg>
                </div>
            </div>
        </div>




        <div style="font-size: 30px; ">Available Slots


        </div>
        <div class="SlotBlock">
            <div *ngIf="!selectedDate || !DoctorName">Select appointment date and doctor to view the slots... </div>
            <div *ngIf="selectedDate && DoctorName" class="SlotBlock" >

                <div  
                *ngFor="let slot of this.Slots"
                [ngClass]="{'U-Slot':slot.status=='Unavailable','selected-slot': slot.slotId === SelectedSlotId}"
                (click)="AddSlot(slot)"
                class="Slot"
                >
                {{slot.slotId}}
                <div>{{slot.startTime}}</div>
                
                <div *ngIf="slot === SelectedSlot" class="tick-mark">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z" fill="currentColor" />
                        
                    </svg>
                    
                </div>
                
                
            </div>
        </div>



        </div>

    </div>

</div>